In [ ]:
import pandas as pd
house_prices = pd.read_csv("housePredictionDataSet.csv", sep="\s+", header=None)
# house_prices

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [26]:
house_prices.columns = [
    "CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE",
    "DIS", "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"
]
house_prices.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [27]:
"""I began by loading the 4)House prediction data set dataset into a pandas DataFrame.
Then, I assigned descriptive column names(Using the classical boston dataframe as inspiration) so each feature could be easily identified."""

'I began by loading the 4)House prediction data set dataset into a pandas DataFrame.\nThen, I assigned descriptive column names(Using the classical boston dataframe as inspiration) so each feature could be easily identified.'

In [28]:
house_prices.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [29]:
"""I checked for missing data to ensure the dataset is complete.
In this case, there are no missing values, which means I can continue without filling or dropping data."""

'I checked for missing data to ensure the dataset is complete.\nIn this case, there are no missing values, which means I can continue without filling or dropping data.'

In [30]:
X = house_prices.drop("MEDV", axis=1)
y = house_prices["MEDV"]

In [33]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [31]:
"""I standardised the features so that they share a similar scale.
This prevents features with larger numeric values (like TAX) from dominating smaller ones (like NOX)."""

'I standardised the features so that they share a similar scale.\nThis prevents features with larger numeric values (like TAX) from dominating smaller ones (like NOX).'

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42
)

print("Preprocessing complete!")
print("Training set shape:", X_train.shape)
print("Testing set shape:", X_test.shape)

Preprocessing complete!
Training set shape: (404, 13)
Testing set shape: (102, 13)